{% extends 'movie_app/base.html' %}

{% block title %}
    All movies
{% endblock %}

{% block content %}
    <h1>List of all movies</h1>
    <ul>
        {% for movie in movies %}
        <li style="font-size: 2rem"><a href="{{ movie.get_url }}">{{ movie.name }}</a>,
            rating - {{ movie.rating }},
            year - {{ movie.year|default:"Unknown" }},
            budget - {{ movie.budget }}
        </li>
        {% endfor %}
    </ul>
    <h3>Average budget - {{ agg.budget__avg }}</h3>
    <h3>Min rating - {{ agg.rating__min }}</h3>
    <h3>Max rating - {{ agg.rating__max }}</h3>
    <h3>Amount films - {{ agg.id__count }}</h3>
{% endblock %}
